WSReferences/бит_СМС_SMS4BРезерв/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="SMS4B"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="SMS4B"
		xmlns:xsd2="SMS4B/AbstractTypes"
		xmlns:xsd3="http://schemas.xmlsoap.org/soap/encoding/"
		targetNamespace="SMS4B">
	<documentation>Web-сервис для клиента SMS</documentation>
	<types>
		<s:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
				xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
				xmlns:s="http://www.w3.org/2001/XMLSchema"
				xmlns:s1="SMS4B/AbstractTypes"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
				xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				elementFormDefault="qualified"
				targetNamespace="SMS4B">
			<s:element name="StartSessionUTC">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Login"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Password"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Local"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StartSessionUTCResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="StartSessionUTCResult"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StartSession">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Login"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Password"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Gmt"
								type="s:short"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StartSessionResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="StartSessionResult"
								type="s:long"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CancelGroup">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionID"
								type="s:long"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Group"
								type="s:long"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CancelGroupResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="CancelGroupResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CloseSession">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionID"
								type="s:long"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CloseSessionResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="CloseSessionResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GroupSMS">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionId"
								type="s:long"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Group"
								type="s:long"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Source"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Encoding"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Body"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Off"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Start"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Period"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="List"
								type="xsd1:ArrayOfGroupSMSList"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfGroupSMSList">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="GroupSMSList"
							type="xsd1:GroupSMSList"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="GroupSMSList">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="G"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="D"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="B"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="E"
							type="s:int"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GroupSMSResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="GroupSMSResult"
								type="xsd1:GroupSMSResult"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="GroupSMSResult">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Result"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Group"
							type="s:long"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="List"
							type="xsd1:ArrayOfCheckSMSList"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfCheckSMSList">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="CheckSMSList"
							type="xsd1:CheckSMSList"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="CheckSMSList">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="G"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="R"
							type="s:int"/>
				</s:sequence>
			</s:complexType>
			<s:element name="CheckSMS">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionId"
								type="s:long"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Guids"
								type="xsd1:ArrayOfString"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfString">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="string"
							nillable="true"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="CheckSMSResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="CheckSMSResult"
								type="xsd1:CheckSMSResult"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="CheckSMSResult">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Result"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="List"
							type="xsd1:ArrayOfCheckSMSList"/>
				</s:sequence>
			</s:complexType>
			<s:element name="LoadSMS">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionId"
								type="s:long"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="ChangesFrom"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Flags"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="LoadSMSResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="LoadSMSResult"
								type="xsd1:LoadSMSResult"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="LoadSMSResult">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Result"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="List"
							type="xsd1:ArrayOfSMSList"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfSMSList">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="SMSList"
							type="xsd1:SMSList"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="SMSList">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="G"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="D"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="B"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="E"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="A"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="P"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="M"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="T"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="S"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="ParamSMS">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionId"
								type="s:long"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ParamSMSResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="ParamSMSResult"
								type="xsd1:ParamSMSResult"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ParamSMSResult">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Result"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Rest"
							type="s:double"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Addresses"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="AddrMask"
							type="s:long"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="UTC"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Duration"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Limit"
							type="s:int"/>
				</s:sequence>
			</s:complexType>
			<s:element name="SendSMS">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Login"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Password"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Source"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Phone"
								type="s:long"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Text"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SendSMSResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="SendSMSResult"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetInfo">
				<s:complexType/>
			</s:element>
			<s:element name="GetInfoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="GetInfoResult"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StatusSMS">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Login"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Password"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="MessageId"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StatusSMSResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="StatusSMSResult"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="string"
					nillable="true"
					type="s:string"/>
			<s:element name="long"
					type="s:long"/>
			<s:element name="int"
					type="s:int"/>
			<s:element name="CheckSMSResult"
					type="xsd1:CheckSMSResult"/>
			<s:element name="LoadSMSResult"
					type="xsd1:LoadSMSResult"/>
			<s:element name="ParamSMSResult"
					type="xsd1:ParamSMSResult"/>
		</s:schema>
		<s:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
				xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
				xmlns:s="http://www.w3.org/2001/XMLSchema"
				xmlns:s1="SMS4B/AbstractTypes"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
				xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
				xmlns:tns="SMS4B/AbstractTypes"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				targetNamespace="SMS4B/AbstractTypes">
			<s:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<s:complexType name="StringArray"
					mixed="false">
				<s:complexContent mixed="false">
					<s:restriction base="xsd3:Array">
						<s:sequence>
							<s:element minOccurs="0"
									maxOccurs="unbounded"
									name="String"
									type="s:string"/>
						</s:sequence>
					</s:restriction>
				</s:complexContent>
			</s:complexType>
		</s:schema>
	</types>
	<message name="StartSessionUTCSoapIn">
		<part name="parameters"
				element="tns:StartSessionUTC"/>
	</message>
	<message name="StartSessionUTCSoapOut">
		<part name="parameters"
				element="tns:StartSessionUTCResponse"/>
	</message>
	<message name="StartSessionSoapIn">
		<part name="parameters"
				element="tns:StartSession"/>
	</message>
	<message name="StartSessionSoapOut">
		<part name="parameters"
				element="tns:StartSessionResponse"/>
	</message>
	<message name="CancelGroupSoapIn">
		<part name="parameters"
				element="tns:CancelGroup"/>
	</message>
	<message name="CancelGroupSoapOut">
		<part name="parameters"
				element="tns:CancelGroupResponse"/>
	</message>
	<message name="CloseSessionSoapIn">
		<part name="parameters"
				element="tns:CloseSession"/>
	</message>
	<message name="CloseSessionSoapOut">
		<part name="parameters"
				element="tns:CloseSessionResponse"/>
	</message>
	<message name="GroupSMSSoapIn">
		<part name="parameters"
				element="tns:GroupSMS"/>
	</message>
	<message name="GroupSMSSoapOut">
		<part name="parameters"
				element="tns:GroupSMSResponse"/>
	</message>
	<message name="CheckSMSSoapIn">
		<part name="parameters"
				element="tns:CheckSMS"/>
	</message>
	<message name="CheckSMSSoapOut">
		<part name="parameters"
				element="tns:CheckSMSResponse"/>
	</message>
	<message name="LoadSMSSoapIn">
		<part name="parameters"
				element="tns:LoadSMS"/>
	</message>
	<message name="LoadSMSSoapOut">
		<part name="parameters"
				element="tns:LoadSMSResponse"/>
	</message>
	<message name="ParamSMSSoapIn">
		<part name="parameters"
				element="tns:ParamSMS"/>
	</message>
	<message name="ParamSMSSoapOut">
		<part name="parameters"
				element="tns:ParamSMSResponse"/>
	</message>
	<message name="SendSMSSoapIn">
		<part name="parameters"
				element="tns:SendSMS"/>
	</message>
	<message name="SendSMSSoapOut">
		<part name="parameters"
				element="tns:SendSMSResponse"/>
	</message>
	<message name="GetInfoSoapIn">
		<part name="parameters"
				element="tns:GetInfo"/>
	</message>
	<message name="GetInfoSoapOut">
		<part name="parameters"
				element="tns:GetInfoResponse"/>
	</message>
	<message name="StatusSMSSoapIn">
		<part name="parameters"
				element="tns:StatusSMS"/>
	</message>
	<message name="StatusSMSSoapOut">
		<part name="parameters"
				element="tns:StatusSMSResponse"/>
	</message>
	<message name="StartSessionUTCHttpPostIn">
		<part name="Login"
				type="xsd:string"/>
		<part name="Password"
				type="xsd:string"/>
		<part name="Local"
				type="xsd:string"/>
	</message>
	<message name="StartSessionUTCHttpPostOut">
		<part name="Body"
				element="tns:string"/>
	</message>
	<message name="StartSessionHttpPostIn">
		<part name="Login"
				type="xsd:string"/>
		<part name="Password"
				type="xsd:string"/>
		<part name="Gmt"
				type="xsd:string"/>
	</message>
	<message name="StartSessionHttpPostOut">
		<part name="Body"
				element="tns:long"/>
	</message>
	<message name="CancelGroupHttpPostIn">
		<part name="SessionID"
				type="xsd:string"/>
		<part name="Group"
				type="xsd:string"/>
	</message>
	<message name="CancelGroupHttpPostOut">
		<part name="Body"
				element="tns:int"/>
	</message>
	<message name="CloseSessionHttpPostIn">
		<part name="SessionID"
				type="xsd:string"/>
	</message>
	<message name="CloseSessionHttpPostOut">
		<part name="Body"
				element="tns:int"/>
	</message>
	<message name="CheckSMSHttpPostIn">
		<part name="SessionId"
				type="xsd:string"/>
		<part name="Guids"
				type="xsd2:StringArray"/>
	</message>
	<message name="CheckSMSHttpPostOut">
		<part name="Body"
				element="tns:CheckSMSResult"/>
	</message>
	<message name="LoadSMSHttpPostIn">
		<part name="SessionId"
				type="xsd:string"/>
		<part name="ChangesFrom"
				type="xsd:string"/>
		<part name="Flags"
				type="xsd:string"/>
	</message>
	<message name="LoadSMSHttpPostOut">
		<part name="Body"
				element="tns:LoadSMSResult"/>
	</message>
	<message name="ParamSMSHttpPostIn">
		<part name="SessionId"
				type="xsd:string"/>
	</message>
	<message name="ParamSMSHttpPostOut">
		<part name="Body"
				element="tns:ParamSMSResult"/>
	</message>
	<message name="SendSMSHttpPostIn">
		<part name="Login"
				type="xsd:string"/>
		<part name="Password"
				type="xsd:string"/>
		<part name="Source"
				type="xsd:string"/>
		<part name="Phone"
				type="xsd:string"/>
		<part name="Text"
				type="xsd:string"/>
	</message>
	<message name="SendSMSHttpPostOut">
		<part name="Body"
				element="tns:string"/>
	</message>
	<message name="GetInfoHttpPostIn"/>
	<message name="GetInfoHttpPostOut">
		<part name="Body"
				element="tns:string"/>
	</message>
	<message name="StatusSMSHttpPostIn">
		<part name="Login"
				type="xsd:string"/>
		<part name="Password"
				type="xsd:string"/>
		<part name="MessageId"
				type="xsd:string"/>
	</message>
	<message name="StatusSMSHttpPostOut">
		<part name="Body"
				element="tns:string"/>
	</message>
	<portType name="WSSMSoap">
		<operation name="StartSessionUTC">
			<documentation>Открыть сессию. Возвращает код для работы с другими методами и разницу в секундах Local от UTC или код ошибки (&lt;0)</documentation>
			<input name="StartSessionUTCRequest"
					message="tns:StartSessionUTCSoapIn"/>
			<output name="StartSessionUTCResponse"
					message="tns:StartSessionUTCSoapOut"/>
		</operation>
		<operation name="StartSession">
			<documentation>Открыть сессию. Возвращает код для работы с другими методами или код ошибки (&lt;0)</documentation>
			<input name="StartSessionRequest"
					message="tns:StartSessionSoapIn"/>
			<output name="StartSessionResponse"
					message="tns:StartSessionSoapOut"/>
		</operation>
		<operation name="CancelGroup">
			<documentation>Устарело!</documentation>
			<input name="CancelGroupRequest"
					message="tns:CancelGroupSoapIn"/>
			<output name="CancelGroupResponse"
					message="tns:CancelGroupSoapOut"/>
		</operation>
		<operation name="CloseSession">
			<documentation>Закрыть сессию. Возвращает успешный 0 либо код ошибки</documentation>
			<input name="CloseSessionRequest"
					message="tns:CloseSessionSoapIn"/>
			<output name="CloseSessionResponse"
					message="tns:CloseSessionSoapOut"/>
		</operation>
		<operation name="GroupSMS">
			<documentation>Отправка пакета группы сообщений. При (Group=-1) создается группа. При (Group=-2) создается равномерная группа. Если возвращается Result &gt; 0 и Group &gt;=0, то принято хотя бы одно сообщение и в каждой строке List в поле R код состояния (&gt;0) либо код ошибки (&lt;0)</documentation>
			<input name="GroupSMSRequest"
					message="tns:GroupSMSSoapIn"/>
			<output name="GroupSMSResponse"
					message="tns:GroupSMSSoapOut"/>
		</operation>
		<operation name="CheckSMS">
			<documentation>Проверка пакета сообщений. Если возвращается Result &gt; 0, то в списке List для каждого сообщения возвращает состояние (R&gt;0), либо код ошибки (R&lt;=0)</documentation>
			<input name="CheckSMSRequest"
					message="tns:CheckSMSSoapIn"/>
			<output name="CheckSMSResponse"
					message="tns:CheckSMSSoapOut"/>
		</operation>
		<operation name="LoadSMS">
			<documentation>Выдача с указанного момента ChangesFrom пакета входящих sms (при Flags = 0) либо склеенных сообщений (при Flags = 1), либо (Result=0), либо код ошибки (Result&lt;0)</documentation>
			<input name="LoadSMSRequest"
					message="tns:LoadSMSSoapIn"/>
			<output name="LoadSMSResponse"
					message="tns:LoadSMSSoapOut"/>
		</operation>
		<operation name="ParamSMS">
			<documentation>Выдача параметров либо кода ошибки (Result&lt;0)</documentation>
			<input name="ParamSMSRequest"
					message="tns:ParamSMSSoapIn"/>
			<output name="ParamSMSResponse"
					message="tns:ParamSMSSoapOut"/>
		</operation>
		<operation name="SendSMS">
			<documentation>Упрощенная отправка уникальных сообщений. Возвращает идентификатор сообщения либо код ошибки (&lt;=0)</documentation>
			<input name="SendSMSRequest"
					message="tns:SendSMSSoapIn"/>
			<output name="SendSMSResponse"
					message="tns:SendSMSSoapOut"/>
		</operation>
		<operation name="GetInfo">
			<input name="GetInfoRequest"
					message="tns:GetInfoSoapIn"/>
			<output name="GetInfoResponse"
					message="tns:GetInfoSoapOut"/>
		</operation>
		<operation name="StatusSMS">
			<documentation>Упрощенная проверка статуса сообщения по идентификатору</documentation>
			<input name="StatusSMSRequest"
					message="tns:StatusSMSSoapIn"/>
			<output name="StatusSMSResponse"
					message="tns:StatusSMSSoapOut"/>
		</operation>
	</portType>
	<portType name="WSSMHttpPost">
		<operation name="StartSessionUTC">
			<documentation>Открыть сессию. Возвращает код для работы с другими методами и разницу в секундах Local от UTC или код ошибки (&lt;0)</documentation>
			<input name="StartSessionUTCRequest"
					message="tns:StartSessionUTCHttpPostIn"/>
			<output name="StartSessionUTCResponse"
					message="tns:StartSessionUTCHttpPostOut"/>
		</operation>
		<operation name="StartSession">
			<documentation>Открыть сессию. Возвращает код для работы с другими методами или код ошибки (&lt;0)</documentation>
			<input name="StartSessionRequest"
					message="tns:StartSessionHttpPostIn"/>
			<output name="StartSessionResponse"
					message="tns:StartSessionHttpPostOut"/>
		</operation>
		<operation name="CancelGroup">
			<documentation>Устарело!</documentation>
			<input name="CancelGroupRequest"
					message="tns:CancelGroupHttpPostIn"/>
			<output name="CancelGroupResponse"
					message="tns:CancelGroupHttpPostOut"/>
		</operation>
		<operation name="CloseSession">
			<documentation>Закрыть сессию. Возвращает успешный 0 либо код ошибки</documentation>
			<input name="CloseSessionRequest"
					message="tns:CloseSessionHttpPostIn"/>
			<output name="CloseSessionResponse"
					message="tns:CloseSessionHttpPostOut"/>
		</operation>
		<operation name="CheckSMS">
			<documentation>Проверка пакета сообщений. Если возвращается Result &gt; 0, то в списке List для каждого сообщения возвращает состояние (R&gt;0), либо код ошибки (R&lt;=0)</documentation>
			<input name="CheckSMSRequest"
					message="tns:CheckSMSHttpPostIn"/>
			<output name="CheckSMSResponse"
					message="tns:CheckSMSHttpPostOut"/>
		</operation>
		<operation name="LoadSMS">
			<documentation>Выдача с указанного момента ChangesFrom пакета входящих sms (при Flags = 0) либо склеенных сообщений (при Flags = 1), либо (Result=0), либо код ошибки (Result&lt;0)</documentation>
			<input name="LoadSMSRequest"
					message="tns:LoadSMSHttpPostIn"/>
			<output name="LoadSMSResponse"
					message="tns:LoadSMSHttpPostOut"/>
		</operation>
		<operation name="ParamSMS">
			<documentation>Выдача параметров либо кода ошибки (Result&lt;0)</documentation>
			<input name="ParamSMSRequest"
					message="tns:ParamSMSHttpPostIn"/>
			<output name="ParamSMSResponse"
					message="tns:ParamSMSHttpPostOut"/>
		</operation>
		<operation name="SendSMS">
			<documentation>Упрощенная отправка уникальных сообщений. Возвращает идентификатор сообщения либо код ошибки (&lt;=0)</documentation>
			<input name="SendSMSRequest"
					message="tns:SendSMSHttpPostIn"/>
			<output name="SendSMSResponse"
					message="tns:SendSMSHttpPostOut"/>
		</operation>
		<operation name="GetInfo">
			<input name="GetInfoRequest"
					message="tns:GetInfoHttpPostIn"/>
			<output name="GetInfoResponse"
					message="tns:GetInfoHttpPostOut"/>
		</operation>
		<operation name="StatusSMS">
			<documentation>Упрощенная проверка статуса сообщения по идентификатору</documentation>
			<input name="StatusSMSRequest"
					message="tns:StatusSMSHttpPostIn"/>
			<output name="StatusSMSResponse"
					message="tns:StatusSMSHttpPostOut"/>
		</operation>
	</portType>
	<binding name="WSSMSoap"
			type="tns:WSSMSoap">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="StartSessionUTC">
			<soapbind:operation style="document"
					soapAction="SMS4B/StartSessionUTC"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="StartSession">
			<soapbind:operation style="document"
					soapAction="SMS4B/StartSession"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelGroup">
			<soapbind:operation style="document"
					soapAction="SMS4B/CancelGroup"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CloseSession">
			<soapbind:operation style="document"
					soapAction="SMS4B/CloseSession"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GroupSMS">
			<soapbind:operation style="document"
					soapAction="SMS4B/GroupSMS"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CheckSMS">
			<soapbind:operation style="document"
					soapAction="SMS4B/CheckSMS"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="LoadSMS">
			<soapbind:operation style="document"
					soapAction="SMS4B/LoadSMS"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="ParamSMS">
			<soapbind:operation style="document"
					soapAction="SMS4B/ParamSMS"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SendSMS">
			<soapbind:operation style="document"
					soapAction="SMS4B/SendSMS"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetInfo">
			<soapbind:operation style="document"
					soapAction="SMS4B/GetInfo"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="StatusSMS">
			<soapbind:operation style="document"
					soapAction="SMS4B/StatusSMS"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="WSSMSoap12"
			type="tns:WSSMSoap">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="StartSessionUTC">
			<soap12bind:operation style="document"
					soapAction="SMS4B/StartSessionUTC"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="StartSession">
			<soap12bind:operation style="document"
					soapAction="SMS4B/StartSession"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelGroup">
			<soap12bind:operation style="document"
					soapAction="SMS4B/CancelGroup"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="CloseSession">
			<soap12bind:operation style="document"
					soapAction="SMS4B/CloseSession"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GroupSMS">
			<soap12bind:operation style="document"
					soapAction="SMS4B/GroupSMS"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="CheckSMS">
			<soap12bind:operation style="document"
					soapAction="SMS4B/CheckSMS"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="LoadSMS">
			<soap12bind:operation style="document"
					soapAction="SMS4B/LoadSMS"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="ParamSMS">
			<soap12bind:operation style="document"
					soapAction="SMS4B/ParamSMS"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="SendSMS">
			<soap12bind:operation style="document"
					soapAction="SMS4B/SendSMS"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetInfo">
			<soap12bind:operation style="document"
					soapAction="SMS4B/GetInfo"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="StatusSMS">
			<soap12bind:operation style="document"
					soapAction="SMS4B/StatusSMS"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="WSSMHttpPost"
			type="tns:WSSMHttpPost">
		<operation name="StartSessionUTC">
			<input/>
			<output/>
		</operation>
		<operation name="StartSession">
			<input/>
			<output/>
		</operation>
		<operation name="CancelGroup">
			<input/>
			<output/>
		</operation>
		<operation name="CloseSession">
			<input/>
			<output/>
		</operation>
		<operation name="CheckSMS">
			<input/>
			<output/>
		</operation>
		<operation name="LoadSMS">
			<input/>
			<output/>
		</operation>
		<operation name="ParamSMS">
			<input/>
			<output/>
		</operation>
		<operation name="SendSMS">
			<input/>
			<output/>
		</operation>
		<operation name="GetInfo">
			<input/>
			<output/>
		</operation>
		<operation name="StatusSMS">
			<input/>
			<output/>
		</operation>
	</binding>
	<service name="WSSM">
		<documentation>Web-сервис для клиента SMS</documentation>
		<port name="WSSMSoap"
				binding="tns:WSSMSoap">
			<soapbind:address location="https://s.sms4b.ru/ws/sms.asmx"/>
		</port>
		<port name="WSSMSoap12"
				binding="tns:WSSMSoap12">
			<soap12bind:address location="https://s.sms4b.ru/ws/sms.asmx"/>
		</port>
		<port name="WSSMHttpPost"
				binding="tns:WSSMHttpPost"/>
	</service>
</definitions>